<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1035696267142-i8t6pao66ihs5l78punt2bbfp0g6a7k5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1035696267142-i8t6pao66ihs5l78punt2bbfp0g6a7k5</string>
	<key>API_KEY</key>
	<string>AIzaSyB2stHUKIsICRcS2rTZxHLaw4RrsARRIvA</string>
	<key>GCM_SENDER_ID</key>
	<string>1035696267142</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.alexis.K-Battle</string>
	<key>PROJECT_ID</key>
	<string>k-battle</string>
	<key>STORAGE_BUCKET</key>
	<string>k-battle.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1035696267142:ios:ce04cf4c89dccec4ed5607</string>
</dict>
</plist>